*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  width: 100%;
}

.container {
  display: flex;
  margin: 5rem auto;
  height: 3.5em;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.input {
  width: 60%;
  height: 100%;
}

.btn {
  padding: 0 2em;
  width: 10%;
  height: 3.4rem;
}
.article {
  width: 80%;
  margin: 2em auto;
}
